
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: geneva;
	font-size: 16px;
	margin: 0px;
}

h2 {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 40px;
}

h3 {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: rgb(30, 30, 30);
	font-size: 14px;
	font-weight: lighter;
}

 
