.btn-green {
    background-color: black;
	color:  white;
	padding: 12px 20px;
	border-radius: 4px; 
	font-family: helvetica, sans-serif;
}

.btn-green:hover {
	background-color: #1e9b0feb;
	color: white;
}
 
